
body {

    font-family: Verdana;

    font-style: normal;

    font-weight: 600;
    
    background: linear-gradient(rgba(241, 39, 17, 1), rgba(245, 175, 25, 1));

  }

  .content {

    max-width: 500px;

    margin: auto;

    margin-block-start: 10%;
  

  }

  .footer{ 

       position: fixed;     

       text-align: center;    

       bottom: 0px; 

       width: 100%;

   } 
